<!DOCTYPE html>
<html lang="en">

<body style="background-color: maroon; color: white; font-family: Arial, sans-serif; padding: 20px;">
    <p style="margin-top: 0;">Dear {{ employee.first_name }} {{ employee.last_name }},</p>
    <p>I'm delighted to inform you that you have been assigned an event to attend.</p>
    <p>The event details are listed below:</p>
    <ul>
        
        <li><strong>Description:</strong> {{ event.description }}</li>
        <li><strong>Venue:</strong> {{ event.venue }}</li>
        <li><strong>Location:</strong> {{ event.location }}</li>
        <li><strong>Start Date:</strong> {{ event.start_date }}</li>
        <li><strong>End Date:</strong> {{ event.end_date }}</li>
    </ul>
    <p>Kindly Note: {{message}}</p>
    <p style="margin-bottom: 0;">Best regards,
    <br>The Event Tracker Team</p>
</body>
</html>